@import '../../../styles.scss';

.section{
    display: flex;
    justify-content: space-between;

    @media(max-width:1150px){
        flex-direction: column;
    align-items: center;
    }

    .left{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
        padding-top: 9rem;

        @media(max-width:1150px){
            align-items: center;
            width: 100%;
        }
       h1{
            font-size: 3rem;

            @media(max-width:1150px) {
                font-size: 2.5rem;
            }

            @media(max-width:700px) {
                font-size: 2rem;
            }

            @media(max-width:480px){
                text-align: center;
            }
        }

       .text{
        display: grid;
        gap: 8px;
        font-size: $font_size_regular;

        @media(max-width:1150px){
            @include display_flex;
            justify-content: center;
            flex-direction: column;
        }
        
        @media(max-width:480px){
            text-align: center;
        }
        p{
            text-align: start;
            color: $color_Grayish_Blue;

            
            @media(max-width:480px){
                text-align: center;
            }
        }
       }

       .btns{
        @include display_flex;
        gap: 1rem;
        flex-wrap: wrap;
        @media(max-width:485px){
            justify-content: center;
        }
       }

       
    }
    .right{
        position: relative;
        padding-top: 3rem;

        @media(max-width:1150px){
            order: -1;
        }

        img{
            @media(max-width:1150px){
                width: 100%;
            }
        }
        .background_box{
            background: $color_Soft_Blue;
            height: 410px;
            position: absolute;
            top: 110px;
            right: 40px;
            z-index: -1;
            width: 400px;
            border-top-left-radius: 28%;
            border-bottom-left-radius: 30%;
        
            @media(max-width:668px){
                width: 70%;
                height: 75%;
                right: 6%;
            }
        }
    }
}