<section class="section workspace">
  <div class="left">
    <h1>A Simple Bookmark Manager</h1>
    <div class="text">
      <p>A clean and simple interface to organize your favourite instantly.</p>
      <p>websites. Open a new browser tab and see your sites load</p>
      <p>Try it for free.</p>
    </div>
    <div class="btns">
      <app-hero-button ></app-hero-button>
      <app-hero-button
        [text]="text"
        [background_color]="background_color"
        [color]="color"
      ></app-hero-button>
    </div>
  </div>
  <div class="right">
    <img src="assets\images\illustration-hero.svg" alt="hero" />
    <div class="background_box">
        box
    </div>
  </div>
</section>
